<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Presentation.Properties.Settings.ConnectionMyCompany"
            connectionString="Data Source=198.12.230.10;Initial Catalog=MyCompany;User ID=Developer1;Password=#D3v31o9Er1$"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>